.app-list-item {
    font-size: 1.25rem;
    padding: 5px 10px;
    border: 0.5px solid #E1E8ED;
    border-radius: 10px;
    margin: 3px 0;
    user-select: none;
}

.app-list-item button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.app-list-item button:focus {
    outline: none;
    box-shadow: none;
}

.app-list-item .like i {
    color: #ffffff;
    background-color: #1e9bf0;
    border-radius: 40px;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    cursor: pointer;
    font-weight: lighter !important;
}
